@model NgocThuy_Lab4_3.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xóa sản phẩm này không?</h3>
<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên sản phẩm:</dt>
        <dd>@Html.DisplayFor(model => model.ProductName)</dd>

        <dt>Đơn vị:</dt>
        <dd>@Html.DisplayFor(model => model.Unit)</dd>

        <dt>Giá:</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>
    </dl>

    @using (Html.BeginForm("Delete", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
